<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="containerUnAuth">
        OPS... NO MOMENTO, VOCÊ NÃO ESTÁ AUTORIZADO A ACESSAR ESSA PÁGINA!!!
    </div>
</body>
</html>